<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>Gao Mingfei - Resume</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/Chart.js"></script>

</head>

<body data-spy="scroll" data-offset="0" data-target="#nav">

    <div id="section-topbar">
        <div id="topbar-inner">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <ul id="nav" class="nav">
                            <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
                        </ul>
                        <!--/ uL#nav -->
                    </div>
                    <!-- /.dropdown -->

                    <div class="clear"></div>
                </div>
                <!--/.row -->
            </div>
            <!--/.container -->

            <div class="clear"></div>
        </div>
        <!--/ #topbar-inner -->
    </div>
    <!--/ #section-topbar -->

    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>高  鸣飞</h1>
                    <h3>Node后端工程师 | ustbbingmang@foxmail.com</h3>
                    <h3>北京科技大学 / 大三 / 2017.7 在JD.COM实习至今</h3>
                </div>
                <!--/.col-lg-12 -->
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/.#headerwrap -->


    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>ABOUT / 关于我</h5>
                </div>
                <div class="col-lg-6">
                    <p>
                        大二暑假开始在某大型互联网公司实习，
                        独立完成了多个项目与基础架构的开发，
                        熟悉团队敏捷开发、DevOps、基础服务架构搭建、业务梳理，
                        有代码洁癖，是团队的code reviewer，
                        研发中的产品，对手上的项目负责到底，
                        对新事物充满好奇与动力，
                        能够独立思考，又有团队精神。</p>
                </div>
                <div class="col-lg-3">
                    <p><a href="#"><i class="icon-file"></i></a>
                        <sm>DOWNLOAD MY RESUME</sm>
                    </p>
                </div>

            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/ #intro -->


    <section id="resume" name="resume"></section>
    <!--WORK DESCRIPTION -->
    <div class="container desc">
        <div class="row">
    
            <div class="col-lg-2 col-lg-offset-1">
                <h5>PROJECT EXPERIENCE / 项目经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>NPM</t>
                    <br/> NPM服务集群
                    <br/>
                </p>
                <p>
                    <more>
                        公司npm服务集群的搭建与维护工作，使用pm2部署，并配有镜像服务器，使用rsync+crontab+flock的解决方案实现镜像。目前被公司内node团队广泛使用。
                    </more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2017 - 至今</sm>
                </p>
            </div>
    
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>TIMELINE</t>
                    <br/> Node定时任务调度平台集群
                    <br/>
                </p>
                <p>
                    <more>
                        集成了日志监控、微信报警、集群容灾、超时监控、错误重试等feature，
                        在多台机器上使用pm2部署，使用mongodb持久化存储定时任务执行过程，
                        并通过mongodb的原子操作抢占式地执行定时任务，只需在定时job的项目中写下配置文件timeline.json即可实现定时任务的一键部署。
                        在组内已被广泛使用，部署了多个线上定时任务并稳定运行。
                    </more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2017 - 至今</sm>
                </p>
            </div>
    
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>SQLX</t>
                    <br/> 多数据库驱动器
                    <br/>
                </p>
                <p>
                    <more>
                        项目地址：<a href="https://github.com/yinrong/node-sqlx", target="_blank">https://github.com/yinrong/node-sqlx</a>
                        <br/>参与了开源项目SQLX的研发，该项目实现了数据库操作日志记录、自动释放连接、读写权限控制，整个项目采用的是适配者模式。
                        我的贡献：提供了从callback到async/await的兼容式转变，提供了对mongodb的支持，完善了单元测试，覆盖率91%，接入了Travis CI。
                        为组内所有连接数据库的项目提供了统一的入口。
                    </more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2017 - 至今</sm>
                </p>
            </div>
    
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>JOB</t>
                    <br/> 站外广告定时投放
                    <br/>
                </p>
                <p>
                    <more>
                        站外广告的定时投放，是该项目的主要研发负责人，在开发前根据prd理清了逻辑，并提出了建议。
                        引导了外部依赖服务及内部接口的联调工作，开发了定时任务及所使用的接口。
                        参与了高并发压测，并根据线上服务性能做出了折中的方案。
                        目前线上运行稳定，为站外广告的智能投放带来了不小的收入。
                    </more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2017 - 2018</sm>
                </p>
            </div>
    
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>REGRESSION</t>
                    <br/> 自动化测试
                    <br/>
                </p>
                <p>
                    <more> 
                        参与了多项业务的接口开发, 均有完善的单元测试以及回归测试, 确保上线前前后端测试覆盖率均达到90%以上。
                        单元测试基于mocha测试框架, 以及mock、nock等。
                        多次重构项目测试文件，保证单测文件有清晰的结构，以及输出完整的覆盖信息。
                        回归测试基于selenium，模拟点击并断言结果，省去很多测试人力，确保每条业务线的稳定。
                    </more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2017 - 至今</sm>
                </p>
            </div>
    
        </div>
        <!--/.row -->
        <br>
        <hr>
    </div>
    <!--/.container -->


    <!--EDUCATION DESCRIPTION -->
    <div class="container desc">
        <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>EDUCATION / 教育经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Major Information Security / 信息安全</t><br/> University of Science & Technology Beijing / 北京科技大学 <br/>
                    <i>Sophomore / 大二</i>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>GRADUATING IN MAY 2019</sm><br/>
                    <imp>
                        <sm>IN PROGRESS</sm>
                    </imp>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Major Course</t><br/>
                    离散数学(91)，线性代数(90)，工科数学分析(90)，概率论与数理统计(89)，C语言程序设计(91)，
                    计算机实践(99)，计算机组成原理(91)，数据结构(89)，现代密码学(92)。专业Top10%。 <br/>
                    <i>2 Years Course</i>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>KEEP LEARNING...</sm>
                </p>
            </div>

        </div>
        <!--/.row -->
        <br>
        <hr>
    </div>
    <!--/.container -->


    <!--WORK DESCRIPTION -->
    <div class="container desc">
        <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>CAMPUS EXPERIENCE / 校园经历</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Game Coding</t><br/> 第三届创新杯软件设计与开发大赛 一等奖. <br/>
                </p>
                <p>
                    <more>使用C++通过Funcode平台设计游戏，团队任务中主要担任游戏主体结构代码编写、
                        新增功能、测试、修改bug并与团队协作测试，并在开发过程中使用github进行团队版本管理. </more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2015 - 2016</sm>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Front-end Web Developer</t>
                    <br/> Goalkeeper（ICAN物联网创新大赛）
                </p>
                <p>
                    <more>
                        项目介绍：基于水平仪的防盗报警装置，项目由Arduino单片机、手机APP、网页端和服务器后端构成。
                        <br/> 工作描述：
                        <br/> ① 编写项目主页，以及用户登录、物品管理界面。
                        <br/> ② 通过Python的Flask框架配合jinja2实现前后端交互，以及为手机APP和单片机搭建后端API，后端数据库使用sqlalchemy.
                        <br/> 项目成果：
                        <br/> ① 使用户可以很方便的在手机上管理自己的物品是否被移动。
                        <br/> ② 待项目成功后能方便很大一部分人群担心自己的物品被人为移动等防盗、安全问题。</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2016 - 2017</sm>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Web Designer</t><br/> 校学生会网络部. <br/>
                </p>
                <p>
                    <more>主要担任校会新主页的设计与板块设计，以及服务器测试.</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2015 - 2016</sm>
                </p>
            </div>
            
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Algorithm Coding</t><br/> 飞思卡尔智能车大赛. <br/>
                </p>
                <p>
                    <more>在团队中主要担任轨迹识别、车辆变速、障碍判断等算法的编写与调试，并参与了部分硬件焊接工作.</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2016 - 2017</sm>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Algorithm Coding</t><br/> ACM-ICPC程序大赛. <br/>
                </p>
                <p>
                    <more> 巩固算法基础.</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2016 - 2017</sm>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Campus Life</t><br/> 人民奖学金、优秀学生干部、班长. <br/>
                </p>
                <p>
                    <more> 不落下任何有价值的机会.</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2015 - 至今</sm>
                </p>
            </div>

        </div>
        <!--/.row -->
        <br>
    </div>
    <!--/.container -->


    <!--SKILLS DESCRIPTION -->
    <div id="skillswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>SKILLS / 个人技能</h5>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="javascript" height="130" width="130"></canvas>
                    <p>NodeJS</p>
                    <br>
                    <script>
                        var doughnutData = [
                            {
                                value: 70,
                                color: "#1abc9c"
                            },
                            {
                                value: 30,
                                color: "#ecf0f1"
                            }
                        ];
                        var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="bootstrap" height="130" width="130"></canvas>
                    <p>ES6</p>
                    <br>
                    <script>
                                var doughnutData = [
                                    {
                                        value: 70,
                                        color: "#1abc9c"
                                    },
                                    {
                                        value: 30,
                                        color: "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="wordpress" height="130" width="130"></canvas>
                    <p>Shell</p>
                    <br>
                    <script>
                                var doughnutData = [
                                    {
                                        value: 50,
                                        color: "#1abc9c"
                                    },
                                    {
                                        value: 50,
                                        color: "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

                <div class="col-lg-3 col-lg-offset-3 centered">
                    <canvas id="html" height="130" width="130"></canvas>
                    <p>MongoDB</p>
                    <br>
                    <script>
                                var doughnutData = [
                                    {
                                        value: 40,
                                        color: "#1abc9c"
                                    },
                                    {
                                        value: 60,
                                        color: "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="photoshop" height="130" width="130"></canvas>
                    <p>TypeScript</p>
                    <br>
                    <script>
                                var doughnutData = [
                                    {
                                        value: 40,
                                        color: "#1abc9c"
                                    },
                                    {
                                        value: 60,
                                        color: "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="illustrator" height="130" width="130"></canvas>
                    <p>Python</p>
                    <br>
                    <script>
                                var doughnutData = [
                                    {
                                        value: 35,
                                        color: "#1abc9c"
                                    },
                                    {
                                        value: 65,
                                        color: "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>

            </div>
            <!--/.row -->
            <br>
        </div>
        <!--/.container -->
    </div>
    <!--/ #skillswrap -->



    <section id="work" name="work"></section>
    <!--PORTFOLIO DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>PORTFOLIO / 作品集</h5>
            </div>
            <div class="col-lg-6">
                <p><img class="img-responsive" src="/static/img/port01.jpg" alt=""></p>
            </div>
            <div class="col-lg-3">
                <p>COMMING SOON</p>
                <p>
                    <more>Work hard and learn more.<br/><br/>
                        <sm><i class="icon-tag"></i> Fighting</sm>
                    </more>
                </p>
            </div>
        </div>
        <!--/.row -->
        <br>
        <br>
    </div>
    <!--/.container -->



    <section id="contact" name="contact"></section>
    <!--FOOTER DESCRIPTION -->
    <div id="footwrap">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONTACT / 与我联系</h5>
                </div>
                <div class="col-lg-6">
                    <p>
                        <t>Email</t><br/> ustbbingmang@foxmail.com <br/>
                    </p>
                    <p>
                        <t>Adress</t><br/> 海淀区学院路30号. <br/> 北京科技大学. <br/> 中国, 北京. <br/>
                    </p>
                    <p>
                        <t>Phone</t><br/> +86 13051800303 <br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <sm>SOCIAL LINKS / 社交媒体</sm>
                    </p>
                    <p>
                        <a href="https://github.com/bingmang" target="_blank"><i class="icon-github"></i></a>
                        <a href="http://weibo.com/u/1596886313" target="_blank"><i class="icon-weibo"></i></a>
                        <a href="http://blog.csdn.net/github_36749622/" target="_blank"><i class="icon-dribbble"></i></a>
                        <a href="https://cn.linkedin.com/in/%E9%B8%A3%E9%A3%9E-%E9%AB%98-6b5149110" target="_blank"><i class="icon-linkedin"></i></a>

                    </p>
                </div>
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/ #footer -->

    <div id="c">
        <div class="container">
            <p>Created by <a href="http://iblue.tech">iBlue.TECH</a></p>

        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.js"></script>
</body>

</html>
